* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
font-family: Aptos, Aptos;
line-height: 1.6;
color: #2b2d42;
background-color: #fffe5d9;
}

/* Navigation */

header {
background-color: #fffe5d9;
border-bottom: 1px solid #2b2d42;
padding: 20px 10%;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav h1 {
font-size: 22px;
}

.nav-links a {
text-decoration: none;
color: #2b2d42;
margin-left: 20px;
font-weight: bold;
}

.nav-links a:hover {
text-decoration: underline;
}

/* Main Content */

main {
max-width: 850px;
margin: auto;
padding: 60px 25px;
}

.hero {
text-align: center;
padding: 60px 20px;
}

.hero h2 {
font-size: 42px;
margin-bottom: 20px;
}

.hero p {
font-size: 18px;
max-width: 650px;
margin: auto;
}

.button {
display: inline-block;
margin-top: 30px;
padding: 12px 22px;
background-color: #ffe5d9;
color: white;
text-decoration: none;
border-radius: 5px;
}

.button:hover {
background-color: #f4acb7;
}

.about {
background-color: white;
padding: 35px;
border-radius: 8px;
}

.about h2 {
margin-bottom: 15px;
}

/* Blog */

.blog-header {
text-align: center;
margin-bottom: 40px;
}

.blog-post article {
background-color: white;
padding: 30px;
margin-bottom: 25px;
border-radius: 8px;
}

.blog-post h2 {
margin-bottom: 5px;
}

.date {
color: #2b2d42;
margin-bottom: 15px;
}

/* Footer */

footer {
text-align: center;
padding: 25px;
background-color: white;
border-top: 1px solid #9d8189;
color: #2b2d42;
}
